{% extends 'music/base.html' %}
{%block body%}

{% if all_albums%}
<div class="container-fluid ">

  <div class="row">
      {% for album in all_albums %}
      <div class="col-sm-3 text-center container-fluid" style="border:2px dashed black; margin-right:2px">
          <div class="container-fluid">
              <a href="{% url 'music:detail' album.id %}">
                <img src="{{album.album_logo}}"style="padding-top:10px; size:"width="400" height="400"/><br/>
              </a>
              <div class="container-fluid" >
                    <!-- Details -->
                    <a href="{% url 'music:detail' album.id %}"><button type="button" class="btn btn-success btn-sm" style="margin-top:5px;" >View Details</button></a>

                    <!-- Update -->
                    <a href="{% url 'music:album-update' album.id %}"><button type="button" class="btn btn-outline-secondary btn-sm" style="margin-top:5px;" >
                    <span class="glyphicon glyphicon-edit"></span>
                    </button></a>

                    <!-- Delete -->
                    <form method="post" action="{% url 'music:album-delete' album.id %}" style="display:inline">
                        {% csrf_token %}
                        <input type="hidden" name="album-id" value="{{ album.id }}"/>
                        <button type="submit" class="btn btn-default bnt-sm" >
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>

                    <!-- Favorite -->
                    <a href="" class="btn btn-default btn-sm btn-favorite">
                        <span class="glyphicon glyphicon-star {% if album.is_favorite %}active{% endif %}"></span>
                    </a>

              </div>
          </div>
          <h3>{{album.album_title}}</h3>
          <p>{{album.artist}}</p>
      </div>
      {% endfor %}
  </div><br/><br/><br/><br/>
</div>

{% else %}
<h2>You do not have any albums to display</h2>
{% endif %}
{% endblock %}﻿